footer {
    width: 100%;
    height: 400px;
    background-color: white;
}

footer #footer-container {
    width: inherit;
    height: 343px;
}

footer #footer-container .inner{

}

footer #footer-container .inner .columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: 244px;
    color: #444444;
}

footer #footer-container .inner .columns .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 179px;
    height: inherit;
}

footer #footer-container .inner .columns .column img{
    width: 64px;
}

footer #footer-container .inner .columns .column p{
    margin: 0;
}

footer #footer-container .inner .columns .column p.town{
    font-weight: bold;
    font-size: 24px;
}

footer #footer-container .inner .columns .column p.street{
    font-size: 14px;
}

footer #footer-container .inner .columns .column a.phone-number{
    font-weight: bold;
    font-size: 18px;
}

footer #footer-container .inner .columns .column a.e-mail{
    font-size: 14px;
}

footer #footer-container .inner .columns .column p.schedule{
    font-size: 14px;
    color: black;
}

footer #footer-container .inner .columns .column a.heading{
    font-weight: bold;
    font-size: 16px;
}

footer #footer-container .inner .columns .column a.paragraph{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
}

footer #footer-container .inner .columns .column a.paragraph svg{
    display: none;
}

footer #footer-container .inner .columns .column a.paragraph:hover{
    color: #FFC602;
    cursor: pointer;
    font-weight: bold;
}

footer #footer-container .inner .columns .column a.paragraph:hover svg{
    display: flex;
    margin-right: 6px;
    min-width: 6px;
    min-height: 6px;
}

footer #under-the-footer-container {
    width: inherit;
    height: 57px;
    font-weight: 500;
    font-size: 14px;
}

footer #under-the-footer-container .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer #under-the-footer-container .inner .payment-systems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
}

footer #under-the-footer-container .inner .payment-systems img{
    width: 49px;
    height: 30px;
}

