@media screen and (max-width: 1210px) {

}

@media screen and (max-width: 1140px) {
    section.preheader {
        display: none;
    }

    header {
        display: flex;
        height: 73px;
    }

    header .header-container {
        width: 100%;
        height: 100%;
    }

    header .header-container .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    header .header-container .inner section.main-part {
        display: none;
    }

    header .header-container .inner section.main-part-media {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 20px;
    }

    header .header-container .inner section.main-part-media img {
        width: 20px;
        min-width: 20px;
    }

    header .header-container .inner section.main-part-media .search {
        width: 226px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        background-color: #F5F5F7;
    }

    header .header-container section.main-part-media .search .input {
        display: flex;
        align-items: center;
        padding: 0 0 0 9px;
        border: 1px solid #E8EBF7;
        width: 100%;
    }

    header .header-container section.main-part-media .search .input input {
        width: 100%;
        border: 0;
        outline: 0;
        background-color: inherit;
    }

    header .header-container section.main-part-media .search .search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 59px;
        min-width: 59px;
        height: inherit;
        background-color: #FFC602;
        /*    border: 1px solid #E8EBF7;*/
    }

    header .header-container section.main-part-media .search .search-button button {
        width: 100%;
        height: inherit;
        border: none;
        outline: none;
        background-color: inherit;
    }

    header .header-container section.main-part-media .cart-and-strips {
        display: flex;
        justify-content: space-between;
        width: 60px;
    }

    header .header-container section.main-part-media .strips {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 23px;
        min-width: 23px;
        height: 17px;
        min-height: 17px;
        border: 0;
        background-color: white;
        outline: 0;
    }

    header .header-container section.main-part-media .strips div {
        width: inherit;
        height: 3px;
        border-radius: 6px;
        background-color: #FFC602;
    }


    header .header-container .inner section.menu {
        display: none;
    }
}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 540px) {

}







