@media screen and (max-width: 1210px) {

}

@media screen and (max-width: 1140px) {
    main .main-container section.discount-container {
        height: 200px;
    }

    main .main-container section.discount-container .person {
        width: 195px;
    }

    main .main-container section.discount-container .discount-and-images{
        width: 270px;
        min-width: 270px;
        height: 165px;
        padding: 0;
    }

    main .main-container section.discount-container .discount-and-images .images{
        width: 150px;
        height: 20px;
        margin-bottom: 30px;
    }

    main .main-container section.discount-container .discount-and-images .images img {
        height: 19px;
    }

    main .main-container section.discount-container .discount-and-images .discount .big-text{
        font-size: 35px;
    }

    main .main-container section.discount-container .discount-and-images .discount .middle-text {
        font-size: 15px;
    }

    main .main-container section.discount-container .discount-and-images .discount .small-text {
        font-size: 10px;
    }

    main .main-container section.discount-container .discount-and-images .discount button{
        margin-top: 25px;
    }

    main .main-container section.discount-container .discount-and-images .discount button p {
        font-size: 10px;
    }

    main .main-container .stock-container .inner{
        display: flex;
        flex-direction: column;
    }

    main .main-container .stock-container .inner .flipping{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    main .main-container .stock-container .inner .flipping .leaf-through{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50px;
        height: 17px;
    }

    main .main-container .stock-container .inner .flipping .leaf-through button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: inherit;
        border: 1px solid #D3DBE6;
        border-radius: 50px;
        width: 20px;
        height: 20px;
        padding: 0;
    }

    main .main-container .stock-container .inner .flipping .leaf-through button:hover{
        border: 1px solid #FFC602;
    }

    main .main-container .stock-container .inner .flipping .leaf-through button:hover svg path{
        fill: #FFC602;
    }

    main .main-container .stock-container .inner .flipping .leaf-through button:hover svg {
        width: 8px;
        height: 11px;
    }

    main .main-container .stock-container .inner .flipping .leaf-through button svg{

    }


    main .main-container .stock-container .inner .options {
        justify-content: center;
    }
}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 540px) {

}