main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

main .main-container {
    display: flex;
    flex-direction: column;
}

main .main-container section.discount-container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 521px;
    z-index: 5000;
/*    background-color: #FFC602;*/
}

main .main-container section.discount-container .inner{
    position: absolute;
    z-index: 5000;
}

main .main-container section.discount-container .background-elements {
    position: relative;
    width: 100%;
    height: 100%;
}


main .main-container section.discount-container .background-elements img{
    position: absolute;
}

main .main-container section.discount-container .background-elements img.group-357{
    top: 48%;
}

main .main-container section.discount-container .background-elements .rectangle-322{
    width: 100%;
    background-color: #FFC602;
    height: 325px;
    top:37%;
    z-index: -1000;
}

main .main-container section.discount-container .background-elements .rectangle-321{
    z-index: 1000;
    width: 100%;
    background-color: #EDEDED;
    height: 196px;
}

main .main-container section.discount-container .background-elements img.subtract{
    top:18.2%;
    z-index: 1000;
}

main .main-container section.discount-container .background-elements img.mask-group{
    top:37.7%;
}

main .main-container section.discount-container .background-elements img.o{
    left: 0.5%;
}

main .main-container section.discount-container .background-elements img.o-1{
    top:58%;
}

main .main-container section.discount-container .background-elements img.o-2{
    left: 90%;
}


/*main .leaf-through{
    display: none;
}*/

main .main-container .stock-container .inner .flipping {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main .main-container .stock-container .inner .flipping .leaf-through {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    height: 17px;
}

main .main-container .stock-container .inner .flipping .leaf-through button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: 1px solid #D3DBE6;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    padding: 0;
    outline: 0;
}

main .main-container .stock-container .inner .flipping .leaf-through button:hover {
    border: 1px solid #FFC602;
}

main .main-container .stock-container .inner .flipping .leaf-through button:hover svg path {
    fill: #FFC602;
}

main .main-container .stock-container .inner .flipping .leaf-through button:hover svg {
    width: 8px;
    height: 11px;
}

main .main-container .stock-container .inner .flipping .leaf-through button svg {

}

main .main-container section.discount-container .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: inherit;
}

main .main-container section.discount-container .person {
    width: 489px;
    margin-left: 76px;
}

main .main-container section.discount-container .person img {
    width: inherit;
}

main .main-container section.discount-container .discount-and-images {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 728px;
    min-width: 728px;
    height: inherit;
    padding: 50px 0;
}

main .main-container section.discount-container .discount-and-images .images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 324px;
    height: 49px;
}

main .main-container section.discount-container .discount-and-images .images img {
    height: 42px;
}

main .main-container section.discount-container .discount-and-images .discount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 250px;
    color: #1F1F1F;
}

main .main-container section.discount-container .discount-and-images .discount .big-text {
    font-weight: bold;
    font-size: 95px;
    margin: 0;
}

main .main-container section.discount-container .discount-and-images .discount .middle-text {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
}

main .main-container section.discount-container .discount-and-images .discount .small-text {
    font-weight: 600;
    font-size: 14px;
    margin: 10px 0 0;
}

main .main-container section.discount-container .discount-and-images .discount button {
    height: 30px;
    border: 0;
    background-color: inherit;
    margin-top: 40px;
}

main .main-container section.discount-container .discount-and-images .discount button p {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

main .main-container .stock-container {
    width: 100%;
    height: inherit;
    background-color: #FCFDFD;
}

main .main-container .stock-container .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1300px;
}

main .main-container .stock-container .inner p#stock-text {
    font-weight: bold;
    font-size: 24px;
}

main .main-container .stock-container .inner .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 520px;
    margin-top: 50px;
}

main .main-container .stock-container .inner .options .option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 224px;
    height: inherit;
    background-color: white;
    border: 1px solid #C4C4C4;
    border-radius: 1px;
    padding: 40px 27px;
}

main .main-container .stock-container .inner .options .option:hover {
    border: 1px solid #FFC602;
}

main .main-container .stock-container .inner .options .option img {
    width: 170px;
}

main .main-container .stock-container .inner .options .option .model-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 135px;
    align-items: center;
    font-size: 10px;
    color: #C4C4C4;
}

main .main-container .stock-container .inner .options .option .model-information p {
    margin: 0;
}

main .main-container .stock-container .inner .options .option p.text {
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}

main .main-container .stock-container .inner .options .option p.price {
    font-weight: bold;
    font-size: 18px;
}

main .main-container .stock-container .inner .options .option .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    border-radius: 5px;
    background: linear-gradient(to right, #FFC602, #D86E0D);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

main .main-container .stock-container .inner .options .option .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

main .main-container .stock-container .inner .options .option .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

main .main-container .stock-container .inner .options .option button.add-to-cart {
    width: 152px;
    height: 35px;
    border: 1px solid #E8ECF7;
    background-color: inherit;
}

main .main-container .stock-container .inner .options .option button.add-to-cart p {
    margin: 0;
}

main .main-container .stock-container .inner .options .option button.add-to-cart:hover {
    background-color: #FFC602;
    border: 0;
}

main .main-container .spring-discounts-and-keyboard {
    width: 100%;
    height: 200px;
}

main .main-container .spring-discounts-and-keyboard-container {
    margin-top: 85px;
    background-color: #FFC602;
}

main .main-container .spring-discounts-and-keyboard-container .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: inherit;
}

main .main-container .spring-discounts-and-keyboard-container .inner .spring-discounts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    min-width: 636px;
}

main .main-container .spring-discounts-and-keyboard-container .inner .spring-discounts p.big-text {
    margin: 0;
    font-weight: bold;
    font-size: 64px;
}

main .main-container .spring-discounts-and-keyboard-container .inner .spring-discounts p.small-text {
    margin: 0;
    font-weight: 500;
    font-size: 36px;
}

main .main-container .spring-discounts-and-keyboard-container .inner .keyboard {
    width: 465px;
}

main .main-container .spring-discounts-and-keyboard-container .inner .keyboard img {
    width: inherit;
}

main .main-container .top-sales-container {
    width: 100%;
    height: 761px;
    background-color: #FCFDFD;
}

main .main-container .top-sales-container .inner {
    width: 1315px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .main-container .top-sales-container .inner .flipping {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px;
}

main .main-container .top-sales-container .inner .flipping .leaf-through {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    height: 17px;
}

main .main-container .top-sales-container .inner .flipping .leaf-through button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: 1px solid #D3DBE6;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    padding: 0;
    outline: 0;
}

main .main-container .top-sales-container .inner .flipping .leaf-through button:hover {
    border: 1px solid #FFC602;
}

main .main-container .top-sales-container .inner .flipping .leaf-through button:hover svg path {
    fill: #FFC602;
}

main .main-container .top-sales-container .inner .flipping .leaf-through button:hover svg {
    width: 8px;
    height: 11px;
}


main .main-container .top-sales-container .inner .flipping .leaf-through button svg {

}

main .main-container .top-sales-container .inner {

}

main .main-container .top-sales-container .inner p#stock-text {
    font-weight: bold;
    font-size: 24px;
}

main .main-container .top-sales-container .inner .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 520px;
    margin-top: 50px;
}

main .main-container .top-sales-container .inner .options .choice-of-gamers-container {
    width: 482px;
    height: 520px;
    background-color: #FFC602;
    padding: 60px 36px;
}

main .main-container .top-sales-container .inner .options .choice-of-gamers-container .choice-of-gamers {
    display: flex;
    flex-direction: row;
    height: 100%;
}

main .main-container .top-sales-container .inner .options .choice-of-gamers-container .choice-of-gamers .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 255px;
    height: 210px;
    position: relative;
}

main .main-container .top-sales-container .inner .options .choice-of-gamers-container .choice-of-gamers .text .big-text {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
}

main .main-container .top-sales-container .inner .options .choice-of-gamers-container .choice-of-gamers .text .small-text {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
}

main .main-container .top-sales-container .inner .options .choice-of-gamers-container .choice-of-gamers .text button {
    width: 130px;
    height: 30px;
    border: 0;
    background-color: inherit;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
}

main .main-container .top-sales-container .inner .options .choice-of-gamers-container .choice-of-gamers .img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 253px;
    height: 100%;
    margin-top: 50px;
}

main .main-container .top-sales-container .inner .options .choice-of-gamers-container .choice-of-gamers .img img {
    width: inherit;
}

main .main-container .top-sales-container .inner .options .option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 224px;
    height: inherit;
    background-color: white;
    border: 1px solid #C4C4C4;
    border-radius: 1px;
    padding: 40px 27px;
}

main .main-container .top-sales-container .inner .options .option:hover {
    border: 1px solid #FFC602;
}

main .main-container .top-sales-container .inner .options .option img {
    width: 170px;
}

main .main-container .top-sales-container .inner .options .option .model-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 135px;
    align-items: center;
    font-size: 10px;
    color: #C4C4C4;
}

main .main-container .top-sales-container .inner .options .option .model-information p {
    margin: 0;
}

main .main-container .top-sales-container .inner .options .option p.text {
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}

main .main-container .top-sales-container .inner .options .option p.price {
    font-weight: bold;
    font-size: 18px;
}

main .main-container .top-sales-container .inner .options .option .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    border-radius: 5px;
    background: linear-gradient(to right, #FFC602, #D86E0D);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

main .main-container .top-sales-container .inner .options .option .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

main .main-container .top-sales-container .inner .options .option .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

main .main-container .top-sales-container .inner .options .option button.add-to-cart {
    width: 152px;
    height: 35px;
    border: 1px solid #E8ECF7;
    background-color: inherit;
}

main .main-container .top-sales-container .inner .options .option button.add-to-cart:hover {
    background-color: #FFC602;
    border: 0;
}

main .main-container .top-sales-container .inner .options .option button.add-to-cart p {
    margin: 0;
}

main .main-container .subscribe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
    background-image: url(../images/Текстура.png);
    background-color: #EDEDED;
}

main .main-container .subscribe-container .email-subscribe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 630px;
    height: 55px;
}

main .main-container .subscribe-container .email-subscribe .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 444px;
    height: inherit;
    background-color: white;
    padding: 0 10px;
}

main .main-container .subscribe-container .email-subscribe .input input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    font-weight: bold;
    font-size: 16px;
}

main .main-container .subscribe-container .email-subscribe button {
    width: 186px;
    height: 100%;
    background-color: #FFC602;
    border: 0;
    font-weight: bold;
    font-size: 16px;
}
